@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);@import url(https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css);img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100vh;
}

.text-center {
  text-align: center;
}

.home-wrapper {
  display: flex;
}

.home-wrapper #bg {
  flex-basis: 66%;
}

.home-wrapper #action-box {
  flex-basis: calc(100%/3);
  align-self: center;
}

