<template>
  <v-dialog
    :value="dialog"
    width="500"
    @input="$emit('update:dialog',false)"
    @keydown.esc=" this.$emit('closeDialog')"
  >
    <v-card>
      <v-card-title class="headline grey lighten-2">
        Are you sure?
      </v-card-title>
      <v-card-text>
        This is a permanent action. You can't undo this.
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn @click="this.$emit('closeDialog')">
          Cancel
        </v-btn>
        <v-btn
          color="warning"
          @click="this.$emit('deleteProject')"
        >
          Confirm
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  name: 'ConfirmationDialog',
  props: {
    dialog: {
      type: Boolean,
      default: false
    }
  }
}
</script>
