<template>
  <v-row dense>
    <v-col
      sm="12"
      md="12"
      lg="6"
    >
      <CalendarCard />
    </v-col>
    <v-col
      sm="12"
      md="12"
      lg="6"
    >
      <IssuesCard :issues.sync="issues" />
    </v-col>
  </v-row>
</template>

<script>
import Application from '../layouts/application-layout'
import CalendarCard from '../components/CalendarCard'
import IssuesCard from '../components/IssuesCard'
import { mapGetters } from 'vuex'

export default {
  name: 'Dashboard',
  components: { IssuesCard, CalendarCard },
  computed: {
    ...mapGetters('project', ['project', 'issues'])
  },
  created () {
    this.$emit('update:layout', Application)
  }
}
</script>
