<template>
  <div class="home-wrapper">
    <div id="bg">
      <img
        src="/img/bg_home.jpg"
        alt="home background"
      >
    </div>
    <div id="action-box">
      <div v-if="!isLogged">
        <v-tabs
          v-model="tab"
          grow
          light
        >
          <v-tab>Login</v-tab>
          <v-tab>Register</v-tab>
        </v-tabs>
        <v-tabs-items
          v-model="tab"
          light
        >
          <v-tab-item><Login /></v-tab-item>
          <v-tab-item><Register /></v-tab-item>
        </v-tabs-items>
      </div>
      <div
        v-else
        class="text-center"
      >
        <v-btn to="/dashboard">
          Go to dashboard
          <v-icon right>
            mdi-arrow-right
          </v-icon>
        </v-btn>
        <div>
          <v-btn
            x-small
            bottom
            @click="logout"
          >
            Logout
          </v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Login from '../components/Login'
import Register from '../components/Register'
import Homepage from '../layouts/homepage-layout'
export default {
  name: 'Home',
  components: { Login, Register },
  data () {
    return {
      isLogged: false,
      tab: null
    }
  },
  mounted () {
    this.isLogged = this.$store.getters['auth/isLogged']
  },
  created () {
    this.$emit('update:layout', Homepage)
  },
  methods: {
    logout () {
      this.$store.dispatch('auth/logout')
      this.isLogged = false
    }
  }
}
</script>
