<template>
  <div class="mt-4">
    <v-container v-if="project">
      <v-row>
        <v-col>
          <h1>
            Project Issues
          </h1>
        </v-col>
      </v-row>
      <v-row class="mt-2">
        <v-col>
          <v-expansion-panels>
            <v-expansion-panel
              v-for="(issue, key) in issues"
              :key="key"
            >
              <v-expansion-panel-header>
                <v-container>
                  <v-row>
                    {{ issue.name }}
                  </v-row>
                  <v-row class="mt-1">
                    {{ issue.status }}
                  </v-row>
                </v-container>
              </v-expansion-panel-header>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-col>
      </v-row>
    </v-container>
    <v-skeleton-loader
      v-if="!project"
      type="article"
    />
  </div>
</template>

<script>
import Application from '../layouts/application-layout'
import { mapGetters } from 'vuex'

export default {
  name: 'Issues',
  computed: {
    ...mapGetters('project', ['project', 'issues'])
  },
  created () {
    this.$emit('update:layout', Application)
  }
}
</script>

<style scoped>

</style>
