<template>
  <div class="mt-4">
    <v-container>
      <v-progress-linear
        v-if="loading"
        indeterminate
        color="primary"
      />
      <v-card>
        <v-card-title>Create new project</v-card-title>
        <v-form
          ref="form"
          @submit.prevent="handleForm"
        >
          <v-container>
            <v-row no-gutters>
              <v-col
                cols="2"
              >
                <ImageUpload v-model="formData.avatar">
                  <div
                    slot="activator"
                    class="text-center"
                  >
                    <v-avatar
                      v-if="!formData.avatar"
                      v-ripple
                      tile
                      color="secondary"
                      height="128"
                      width="128"
                    >
                      <v-icon>mdi-plus</v-icon>
                    </v-avatar>
                    <v-avatar
                      v-else
                      v-ripple
                      tile
                      height="128"
                      width="128"
                    >
                      <img
                        :src="formData.avatar.imageURL"
                        alt="project avatar"
                      >
                    </v-avatar>
                  </div>
                </ImageUpload>
              </v-col>
              <v-col>
                <v-text-field
                  v-model="formData.name"
                  label="Name"
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col
                offset="2"
              >
                <v-textarea
                  v-model="formData.description"
                  label="Description"
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-input />
              </v-col>
            </v-row>
            <v-card-actions>
              <v-spacer />
              <v-btn>Cancel</v-btn>
              <v-btn
                type="submit"
                color="primary"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-container>
        </v-form>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import ImageUpload from '../components/ImageUpload'
import { mapActions, mapMutations } from 'vuex'
import Application from '../layouts/application-layout'
export default {
  name: 'NewProject',
  components: { ImageUpload },
  data () {
    return {
      loading: false,
      formData: {
        name: '',
        description: '',
        avatar: null
      }
    }
  },
  created () {
    this.$emit('update:layout', Application)
  },
  methods: {
    ...mapActions('project', ['createProject']),
    ...mapMutations('app', ['setSnackbar']),
    handleForm () {
      this.loading = true
      const data = new FormData()
      data.append('name', this.formData.name)
      data.append('description', this.formData.description)
      data.append('avatar', this.formData.avatar.formData.get('avatar'))
      this.createProject(data).then(result => {
        this.loading = false
        this.setSnackbar('Project created successfully!')
        this.$router.push('/project')
      })
    }

  }
}
</script>

<style scoped>

</style>
