<template>
  <div />
</template>

<script>
import Application from '../layouts/application-layout'

export default {
  name: 'Profile',
  created () {
    this.$emit('update:layout', Application)
  }
}
</script>

<style scoped></style>
