<template>
  <div class="mt-4">
    <v-container v-if="project">
      <v-row>
        <v-col cols="2">
          <ProjectAvatar />
        </v-col>
        <v-col>
          <h1>
            {{ project.name }}
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  v-bind="attrs"
                  elevation="0"
                  class="mb-2"
                  v-on="on"
                >
                  <v-icon>
                    mdi-dots-vertical
                  </v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item>
                  Edit project
                </v-list-item>
                <v-list-item
                  @click="dialog=true"
                >
                  Remove project
                </v-list-item>
              </v-list>
            </v-menu>
          </h1>
          <p>{{ project.description }}</p>
        </v-col>
      </v-row>
      <v-row class="mt-2">
        <v-col>
          <h2>
            Activity
          </h2>
          <v-divider class="mb-2" />
          <v-list v-if="project.activity">
            <v-list-item>
              test
            </v-list-item>
          </v-list>
          <p v-else>
            No activity
          </p>
        </v-col>
        <v-col>
          <IssuesCard :issues.sync="project.issues" />
        </v-col>
      </v-row>
      <ConfirmationDialog
        :dialog.sync="dialog"
        @closeDialog="closeDialog"
        @deleteProject="handleProjectDelete"
      />
    </v-container>
    <v-skeleton-loader
      v-if="!project"
      type="article"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Application from '../layouts/application-layout'
import ProjectAvatar from '../components/ProjectAvatar'
import ConfirmationDialog from './ConfirmationDialog'
import IssuesCard from '../components/IssuesCard'

export default {
  name: 'Project',
  components: { IssuesCard, ConfirmationDialog, ProjectAvatar },
  data: () => ({ dialog: false }),
  computed: {
    ...mapGetters('project', ['project'])
  },
  created () {
    this.$emit('update:layout', Application)
  },
  methods: {
    ...mapActions('project', ['deleteProject']),
    handleProjectDelete () {
      this.deleteProject(this.project)
      this.closeDialog()
    },
    closeDialog () {
      this.showEdit = false
    }
  }
}
</script>
