<template>
  <v-alert
    v-if="message"
    :color="isSuccess ? 'green' : 'red'"
    :type="isSuccess ? 'success' : 'error'"
    dismissible
  >
    {{ message }}
  </v-alert>
</template>
<script>
export default {
  name: 'Alert',
  props: {
    message: {
      type: String,
      default: ''
    },
    isSuccess: {
      type: Boolean,
      default: true
    }
  }
}
</script>
