<template>
  <v-card>
    <v-card-title>
      Calendar
      <v-spacer />
      <v-btn icon>
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-card-title>
    <v-sheet
      height="600"
    >
      <v-calendar
        ref="calendar"
        v-model="value"
        :weekdays="weekday"
        :type="type"
        :events="events"
        :event-overlap-threshold="30"
      />
    </v-sheet>
  </v-card>
</template>
<script>
export default {
  name: 'Calendar',
  data: () => ({
    type: 'month',
    types: ['month', 'week', 'day', '4day'],
    weekday: [0, 1, 2, 3, 4, 5, 6],
    value: '',
    events: [],
    colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
    names: ['Meeting', 'Holiday', 'PTO', 'Travel', 'Event', 'Birthday', 'Conference', 'Party']
  }),
  methods: {
  }
}
</script>
