<template>
  <div>
    <div @click="launchFilePicker">
      <slot name="activator" />
    </div>

    <input
      ref="file"
      type="file"
      name="avatar"
      accept="image/*"
      @change="onFileChange(
        $event.target.name, $event.target.files)"
    >
  </div>
</template>
<script>
export default {
  name: 'ImageUpload',
  props: {
    value: {
      type: Object,
      default: () => ({})
    }
  },
  methods: {
    launchFilePicker () {
      this.$refs.file.click()
    },
    onFileChange (fieldName, file) {
      const imageFile = file[0]

      // check if user actually selected a file
      if (file.length > 0) {
        // Append file into FormData & turn file into image URL
        const formData = new FormData()
        const imageURL = URL.createObjectURL(imageFile)
        formData.append(fieldName, imageFile)
        console.debug(formData)
        // Emit FormData & image URL to the parent component
        this.$emit('input', { formData, imageURL })
      }
    }
  }
}
</script>
<style scoped>
input{
    display: none;
}
</style>
