<template>
  <v-card>
    <v-card-title>
      Issues
    </v-card-title>
    <v-divider class="ml-4 mr-4" />
    <v-sheet>
      <v-list v-if="issues">
        <v-list-item
          v-for="(issue, key) in issues"
          :key="key"
          two-line
        >
          <template v-slot:default="{ active }">
            <v-list-item-action>
              <v-checkbox
                :input-value="active"
                color="primary"
              />
            </v-list-item-action>

            <v-list-item-content>
              <v-list-item-title>{{ issue.name }}</v-list-item-title>
              <v-list-item-subtitle>{{ issue.description }}</v-list-item-subtitle>
            </v-list-item-content>
          </template>
        </v-list-item>
      </v-list>
      <v-list v-else>
        <v-list-item>No issues</v-list-item>
      </v-list>
    </v-sheet>
  </v-card>
</template>

<script>
export default {
  name: 'IssuesCard',
  props: {
    issues: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style scoped>

</style>
