<template>
  <v-form @submit.prevent="handleLogin">
    <v-container>
      <Alert
        v-if="formDataErrors.message"
        :message="formDataErrors.message"
        :is-success="false"
      />
      <v-text-field
        v-model="formData.email"
        label="Email"
        append-icon="mdi-email"
        :rules="formRules.email"
      />
      <v-text-field
        v-model="formData.password"
        :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
        :type="show ? 'text' : 'password'"
        label="Password"
        :rules="formRules.password"
        @click:append="show = !show"
      />
      <v-btn
        :loading="loading"
        type="submit"
      >
        Login
      </v-btn>
    </v-container>
  </v-form>
</template>

<script>
import Alert from './Alert'

export default {
  name: 'Login',
  components: { Alert },
  data () {
    return {
      valid: true,
      show: false,
      loading: false,
      response: {},
      formData: {
        email: '',
        password: ''
      },
      formDataErrors: {
        message: ''
      },
      formRules: {
        email: [
          v => !!v || 'E-mail is required',
          v => /.+@.+/.test(v) || 'E-mail must be valid'
        ],
        password: [v => (!!v && v && v.length >= 8) ||
                'Password too short']
      }
    }
  },
  methods: {
    handleLogin () {
      this.loading = true
      this.$store.dispatch('auth/login', this.formData)
        .then(() => {
          this.$store.commit('app/setSnackbar', 'Logged in!')
          this.$router.push({ name: 'Dashboard' })
        })
        .catch(error => {
          this.formDataErrors.message = error.message[0]
        })
        .finally(() => { this.loading = false })
    }
  }
}
</script>
<style scoped>
section {
    height: 100vh;
    display: flex;
    align-content: center;
}
</style>
