<template>
  <v-navigation-drawer
    :value="drawer"
    app
    clipped
  >
    <v-list shaped>
      <div
        v-for="(group, i) in items"
        :key="i"
      >
        <v-subheader v-if="group.header">
          {{ group.header }}
        </v-subheader>
        <v-list-item
          v-for="(item, j) in group.items"
          :key="(10*i)+j"
          :to="item.path"
          color="primary"
        >
          <v-list-item-icon>
            <v-icon v-text="item.icon" />
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="item.name" />
          </v-list-item-content>
        </v-list-item>
      </div>
    </v-list>
    <template v-slot:prepend>
      <v-list>
        <v-list-item
          v-if="project"
          to="/project"
        >
          <v-list-item-avatar tile>
            <v-img
              v-if="project.image_src"
              :src="project.image"
            />
            <h1
              v-if="!project.image_src"
              class="avatar-content"
            >
              {{ project.initials }}
            </h1>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>
              {{ project.name }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </template>
  </v-navigation-drawer>
</template>
<script>
import { groupBy } from '../helpers'
import { mapGetters } from 'vuex'
export default {
  name: 'NavigationDrawer',
  props: {
    drawer: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      current: null
    }
  },
  computed: {
    ...mapGetters('project', ['project']),
    items () {
      const r = this.$router.options.routes.filter((route) => !(route.meta.index || route.meta.exclude)).map((route) => {
        return { name: route.name, path: route.path, group: route.meta.group, icon: route.meta.icon }
      })
      return Object.entries(groupBy(r, 'group')).map(([group, items]) => {
        return { header: group.charAt(0).toUpperCase() + group.slice(1), items: items }
      })
    }
  }
}
</script>
