<template>
  <div class="text-center">
    <v-menu
      v-model="menu"
      :close-on-content-click="false"
      :nudge-width="350"
      offset-y
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          elevation="0"
          v-on="on"
        >
          Projects
          <v-icon>mdi-chevron-down</v-icon>
        </v-btn>
      </template>

      <v-card>
        <v-row>
          <v-col cols="5">
            <v-list>
              <v-list-item>
                <v-list-item-title>Your projects <v-icon>mdi-chevron-right</v-icon></v-list-item-title>
              </v-list-item>
              <v-list-item
                to="/new-project"
              >
                <v-list-item-title>New project <v-icon>mdi-plus</v-icon></v-list-item-title>
              </v-list-item>
            </v-list>
          </v-col>
          <v-col>
            <div>
              <v-subheader>Last projects</v-subheader>
              <v-list>
                <v-list-item
                  v-for="(project, i) in projects"
                  :key="i"
                  @click.stop="setProject(project)"
                >
                  <v-list-item-avatar tile>
                    <v-img
                      v-if="project.image_src"
                      :src="project.image"
                    />
                    <h1
                      v-if="!project.image_src"
                      class="avatar-content"
                    >
                      {{ project.initials }}
                    </h1>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    {{ project.name }}
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </div>
          </v-col>
        </v-row>
      </v-card>
    </v-menu>
  </div>
</template>
<script>
import { mapState, mapActions, mapMutations } from 'vuex'
export default {
  name: 'ProjectSelector',
  data () {
    return {
      isLoading: false,
      menu: null
    }
  },
  computed: {
    ...mapState('project', ['projects'])
  },
  methods: {
    ...mapMutations('app', ['setBottomSheet']),
    ...mapMutations('project', ['setProject']),
    ...mapActions('project', ['getProjects'])
  }
}
</script>
