<template>
  <v-avatar
    tile
    height="200"
    width="200"
    :color="!project.image_src ? 'primary':''"
  >
    <v-img
      v-if="project.image_src"
      :src="project.image"
      height="200"
      width="200"
      contain
    />
    <h1
      v-if="!project.image_src"
      class="avatar-content"
    >
      {{ project.initials }}
    </h1>
  </v-avatar>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'ProjectAvatar',
  computed: {
    ...mapGetters('project', ['project'])
  }
}
</script>
<style scoped>
.avatar-content {
  font-size: 6rem;
  color: #fff;
}
</style>
