<template>
  <v-form @submit.prevent="handleRegister">
    <v-container>
      <Alert
        v-if="formDataErrors.message"
        :message="formDataErrors.message"
        :is-success="false"
      />
      <v-row>
        <v-col
          cols="12"
          sm="6"
        >
          <v-text-field
            v-model="formData.first_name"
            label="First name"
            :rules="formRules.first_name"
            :error="!!formDataErrors.first_name"
            :error-messages="formDataErrors.first_name"
          />
        </v-col><v-col
          cols="12"
          sm="6"
        >
          <v-text-field
            v-model="formData.last_name"
            label="Last name"
            :rules="formRules.last_name"
            :error="!!formDataErrors.last_name"
            :error-messages="formDataErrors.last_name"
          />
        </v-col>
      </v-row>
      <v-text-field
        v-model="formData.email"
        label="Email"
        type="email"
        :rules="formRules.email"
        :error="!!formDataErrors.email"
        :error-messages="formDataErrors.email"
      />
      <v-text-field
        v-model="formData.password"
        label="Password"
        :rules="formRules.password"
        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
        :type="showPassword ? 'text' : 'password'"
        :error="!!formDataErrors.password"
        :error-messages="formDataErrors.password"
        @click:append="showPassword = !showPassword"
      />
      <v-text-field
        v-model="formData.password_confirmation"
        label="Confirm password"
        :rules="formRules.password_confirmation"
        type="password"
        :error="!!formDataErrors.password_confirmation"
        :error-messages="formDataErrors.password_confirmation"
      />
      <v-btn
        :loading="loading"
        type="submit"
      >
        Register
      </v-btn>
    </v-container>
  </v-form>
</template>

<script>
import Alert from './Alert'
export default {
  name: 'Register',
  components: { Alert },
  data () {
    return {
      isValid: true,
      showPassword: false,
      loading: false,
      formData: {
        first_name: '',
        last_name: '',
        email: '',
        password: '',
        password_confirmation: ''
      },
      formDataErrors: {
        first_name: '',
        last_name: '',
        email: '',
        password: '',
        message: ''
      },
      formRules: {
        first_name: [v => !!v || 'First name is required'],
        last_name: [v => !!v || 'Last name is required'],
        email: [
          v => !!v || 'E-mail is required',
          v => /.+@.+/.test(v) || 'E-mail must be valid'
        ],
        password: [v => (!!v && v && v.length >= 8) ||
              'Password too short'],
        password_confirmation: [v => (!!v && v) === this.formData.password ||
              'Passwords do not match']
      }
    }
  },
  computed: {
    progress () {
      return Math.min(100, this.formData.password.length * 10)
    },
    color () {
      return ['error', 'warning', 'success'][Math.floor(this.progress / 40)]
    }
  },
  methods: {
    handleRegister () {
      this.loading = true
      this.$store.dispatch('auth/register', this.formData)
        .then(() => {
          this.$store.commit('app/setSnackbar', 'Account created successfully!')
          this.$router.push({ name: 'Dashboard' })
        })
        .catch(error => {
          Object.entries(error.errors).forEach(([key, msg]) => {
            if (Object.prototype.hasOwnProperty.call(this.formDataErrors, key)) {
              this.formDataErrors[key] = msg
            }
          })
          this.formDataErrors.message = error.message
        })
        .finally(() => { this.loading = false })
    }
  }
}
</script>

<style scoped>

</style>
