<template>
  <v-snackbar
    v-model="snackbar"
    timeout="10000"
    color="primary"
  >
    {{ message }}

    <template v-slot:action="{ attrs }">
      <v-btn
        text
        v-bind="attrs"
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>
<script>
export default {
  name: 'Snackbar',
  data () {
    return {
      snackbar: false,
      message: ''
    }
  },
  created () {
    this.$store.watch(state => state.app.snackbarMessage, () => {
      this.openSnackbar()
    })
  },
  mounted () {
    this.openSnackbar()
  },
  methods: {
    openSnackbar () {
      const msg = this.$store.state.app.snackbarMessage
      if (msg !== '') {
        this.snackbar = true
        this.message = msg
        this.$store.commit('app/setSnackbar', '')
      }
    }
  }
}
</script>
