<template>
  <v-menu
    offset-y
  >
    <template v-slot:activator="{ on, attrs }">
      <div v-if="user">
        <v-avatar
          color="primary"
          v-bind="attrs"
          v-on="on"
        >
          <img
            v-if="user.avatar"
            alt="Avatar"
            src="https://avatars0.githubusercontent.com/u/9064066?v=4&s=460"
          >
          <span
            v-if="!user.avatar"
            class="white--text subtitle"
          >{{ user.acronym }}</span>
        </v-avatar>
      </div>
      <div v-if="!user">
        <v-progress-circular indeterminate />
      </div>
    </template>
    <v-list dense>
      <v-list-item>Profile</v-list-item>
      <v-list-item @click="logout">
        Logout
      </v-list-item>
    </v-list>
  </v-menu>
</template>
<script>
export default {
  name: 'TopProfileMenu',
  computed: {
    user () {
      return this.$store.state.auth.user.user
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('auth/logout')
      this.isLogged = false
    }
  }
}
</script>
