<template>
  <v-app>
    <NavigationDrawer
      :drawer="drawer"
    />
    <v-app-bar
      app
      clipped-left
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn
        elevation="0"
        active-class="no-active"
        :to="{name: 'Dashboard'}"
      >
        Dashboard
      </v-btn>
      <ProjectSelector />
      <v-spacer />
      <TopProfileMenu />
      <v-btn
        icon
        @click="switchTheme($vuetify)"
      >
        <v-icon>mdi-theme-light-dark</v-icon>
      </v-btn>
      <v-progress-linear
        :active="isLoading"
        indeterminate
        absolute
        bottom
      />
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <slot />
      </v-container>
    </v-main>

    <v-footer
      inset
      app
    >
      @{{ new Date().getFullYear() }} by Maciej Marciniak
    </v-footer>
    <Snackbar />
  </v-app>
</template>

<script>
import { mapState, mapGetters, mapActions, mapMutations } from 'vuex'
import TopProfileMenu from '../components/TopProfileMenu'
import NavigationDrawer from '../components/NavigationDrawer'
import Snackbar from '../components/Snackbar'
import ProjectSelector from '../components/ProjectSelector'

export default {
  name: 'Application',
  components: { ProjectSelector, Snackbar, NavigationDrawer, TopProfileMenu },
  data () {
    return {
      drawer: null
    }
  },
  computed: {
    ...mapState('app', {
      isLoading: 'loading'
    }),
    ...mapGetters('project', ['project'])
  },
  created () {
    this.setLoading(true)
    this.getProjects().then(() => this.setProject(null)).finally(() => { this.setLoading(false) })
  },
  methods: {
    ...mapActions('project', ['getProjects']),
    ...mapMutations('app', {
      switchTheme: 'setAppTheme',
      setLoading: 'setLoading'
    }),
    ...mapMutations('project', {
      setProject: 'setProject'
    })
  }
}
</script>
