<template>
  <v-app light>
    <v-main>
      <!-- Provides the application the proper gutter -->

      <slot />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'Homepage'
}
</script>
